.card {
    --stamp-size: 64px;
    --stamp-gap: 24px;
    --stamp-border-radius: var(--stamp-size);
    --stamp-text-size: calc(var(--stamp-size)/4.5);
  
    background-color: #f1eded;
    padding: 40px;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    width: 500px;
    border-radius: 6px;
  }
  
  .card-header {
    margin-bottom: 32px;
  }
  
  .card-title {
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    background-color: #f1eded;
    text-align: center;
    color: rgb(9, 9, 9);
  }
  
  .card-text {
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: rgb(12, 12, 12);
    background-color: #f1eded;
    font-weight: bold;
  }
  
  .card-body {
    display: grid;
    grid-template-columns: repeat(5, var(--stamp-size));
    gap: var(--stamp-gap);
    justify-content: center;
    margin-bottom: 32px;
  }
  
  .button {
    background-color: rgb(245, 238, 238);
    width: var(--stamp-size);
    height: var(--stamp-size);
    border-radius: var(--stamp-border-radius);
    border: 3px solid rgb(9, 9, 9);
    transform: rotate(-20deg);
  }
  
  .card-footer {
    color: rgb(13, 13, 13);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
  }
  
  .stamp{
    width: var(--stamp-size);
    height: var(--stamp-size);
    border-radius: var(--stamp-border-radius);
    position:relative;
    background-color: rgb(245, 238, 238);
    -webkit-animation-name: pulse;
    animation-name: pulse;
    animation-delay:0.05s;
    animation-iteration-count: 1;
    -webkit-animation-delay:0.05s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    opacity: 0;
    -webkit-animation-fill-mode:forwards;
     animation-fill-mode:forwards;
  }
  
  @-webkit-keyframes pulse{
    0%{
      opacity: 0;
    }
    10%{
      opacity:.1;
      transform-origin: 50% 50%;
      transform: rotate(-2deg) scale(3);
      transition: all .1s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
    /* 30%{
      opacity:.2;
      transform-origin: 50% 50%;
      transform: rotate(-8deg) scale(3);
      transition: all .1s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    } */
    100%{
      opacity:1;
      transform: rotate(-20deg) scale(1);
    }
  }
  
  
  
  
  